@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('./assets/images/background.png');
  color: #481206;
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

a {
  color: #744e45;
}
